* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 300px;
  display: inline-block;
  margin: 10px 10px;
}

.card .text {
  padding: 5px 10px;
}

.img-thumb {
  position: relative;
}

.card .img-thumb p{
  position: absolute;
  top: 140px;
  left: 255px;
  font-weight: bold;
  font-size: .9rem;
  border-radius: 3px;
  color: #fff;
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.7);
}

.card .text .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card .text .desc {
  color: #666666;
  margin-bottom: 2px;
}

.card .text .watchTime {
  font-size: 0.87rem;
  color: #858585;
}
